<div class="navbar">
  <div>
    <img
      width="40"
      alt="Event Management Logo"
      src="https://cdn-icons-png.flaticon.com/128/10047/10047505.png"
    />
  </div>
  <!-- <div>
    <button class="ButtonsInNavbar" routerLink="/home">HOME</button>
  </div> -->

  <!-- <div class="ViewVenues">
    <button
      class="ButtonsInNavbar"
      (click)="ViewEventHandler()"
      routerLink="/viewUsers"
    >
      ViewUsers
    </button>
  </div> -->

  <div class="ViewVenues">
    <button class="ButtonsInNavbar" routerLink="/addevent">AddEvent</button>
  </div>
  <div >
    <button class="ButtonsInNavbar" routerLink="/viewallvenues">
      ViewVenues
    </button>
  </div>

  <!-- <div>
    <button class="ButtonsInNavbar" routerLink="/user">AddUser</button>
  </div> -->

  <div>
    <button class="ButtonsInNavbar" routerLink="/addvenue">AddVenue</button>
  </div>
 
</div>
