<!-- <div class="navbar">
  <div>
    <img
      width="40"
      alt="Event Management Logo"
      src="https://cdn-icons-png.flaticon.com/128/10047/10047505.png"
    />
  </div>
  <div class="ViewVenues">
    <button class="ButtonsInNavbar" (click)="ViewEventHandler()" routerLink="/viewvenue">ViewVenues</button>
  </div>

  <div>
    <button class="ButtonsInNavbar" routerLink="/addvenue">AddVenue</button>
  </div>
  <div>
    <button class="ButtonsInNavbar" routerLink="/addevent">AddEvent</button>
  </div>
</div> -->

<!-- 
main code
<div><app-home></app-home></div> -->

<div><app-navbar></app-navbar></div>
<router-outlet></router-outlet>
