.main {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.name-container {
  margin-top: 20px;
  display: flex;
  width: 250px;
  flex-direction: column;
  margin: 30px auto;
}
.address-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 30px auto;
}

h1 {
  margin: 0 auto;
}
